* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}

#whiteboard-canvas {
  width: 100%;
  height: calc(100% - 100px);
}

.toolbar {
  display: flex;
  justify-content: center;
}

.colors {
  display: inline-flex;
  flex-grow: 0;
  background-color: #3a3a3a;
  border-radius: 30px;
  margin-bottom: 20px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-width: 6px;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
  margin: 6px;
}

.color.selected {
  border-color: white;
}

#clear-all {
  border: 1px solid red;
  color: red;
  border-radius: 30px;
  height: 100%;
  background: transparent;
  padding: 9px 30px;
  font-size: 30px;
  cursor: pointer;
  margin: 0 1em;
  outline: 0;
}

#clear-all:active {
  background: red;
  color: white;
}
